{% extends "base.html" %}
{% block title %}
    <title>Car details | RentCar4U</title>
{% endblock %}

{% block content %}
    <h3>Car details:</h3>
    <p class="lead"><p>
    <ul class="list-unstyled">
        <li>Brand: {{ car.brand }}</li>
        <li>Model: {{ car.model }}</li>
        <li>Type: {{ car.type }}</li>
        <li>Power: {{ car.power }} HP</li>
        <li>Engine: {{ car.engine }}</li>
        <li>Year: {{ car.year }}</li>
        <li>Number of seats: {{ car.seats }}</li>
        <li>Gears type: {{ car.get_gears_display }}</li>
        <li>Fuel type: {{ car.get_fuel_display }}</li>
        <li>Price per day: {{ car.price_per_day }} zł</li>
    </ul>
{% endblock %}