{% extends "base.html" %}
{% block content %}
     <main class="px-3">
     <br>
    <h1>About us...</h1>
    <p class="lead"><p>RentCar4U - short and long term car loan.<br>
    Rent a car fit to your needs.</p>
         <p>"Rent Car 4U" was established at the beginning of 2022. We are a company that provides car rental services.
             Our fleet, which is constantly expanding, consists of economics and premium class cars, which cause we will meet the requirements of every customer, even the most demanding.
             The company's office is in Szczecin at ul. Kochanowskiego 14. We invite you to use our services. <br>RentCat4U - the best quality, the best prices. </p>

  </main>

{% endblock %}