<!-- Nav -->
<nav id="navbar" class="navbar">#}
        <ul>
             {% if user.is_authenticated %}
          <li><a class="nav-link scrollto " href="{% url "index" %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url "profile_details" user.id %}">My account</a></li>
          <li><a class="nav-link scrollto" href="{% url "car_list" %}">List of all Cars</a></li>
          <li><a class="nav-link scrollto " href="{% url "car_add" %}">Add Car</a></li>
          <li><a class="nav-link scrollto" href="{% url "location_add" %}">Add Location</a></li>
          <li><a class="nav-link scrollto" href="{% url "car_rent" %}">Rent a Car</a></li>
          <li><a class="nav-link scrollto" href="{% url "rent_list" %}">Reservations</a></li>
          <li><a class="nav-link scrollto" href="{% url "contact" %}">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="{% url "logout" %}">Log out</a></li>
        </ul>
          {% else %}
          <li><a class="nav-link scrollto " href="{% url "index" %}">Home</a></li>
          <li><a class="nav-link scrollto " href="{% url "car_list" %}">List of all Cars</a></li>
          <li><a class="nav-link scrollto " href="{% url "create_user" %}">Create Account</a></li>
          <li><a class="nav-link scrollto " href="{% url "login" %}">Log in</a></li>
          <li><a class="nav-link scrollto " href="{% url "contact" %}">Contact Us</a></li>
          {% endif %}
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
<!-- Nav -->
