<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url "index" %}">Rent Car 4U</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url "profile_details" user.profile.id %}">My account</a>
                <a class="nav-item nav-link" href="{% url "car_list" %}">List of all Cars</a>
                <a class="nav-item nav-link" href="{% url "car_add" %}">Add Car</a>
                <a class="nav-item nav-link" href="{% url "location_add" %}">Add Location</a>
                <a class="nav-item nav-link" href="{% url "car_rent" %}">Rent a Car</a>
                <a class="nav-item nav-link" href="{% url "rent_list" %}">Reservations</a>
                <a class="nav-item nav-link" href="{% url "contact" %}">Contact Us</a>
                <a class="nav-item nav-link" href="{% url "logout" %}">Log out</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url "car_list" %}">List of all Cars</a>
                <a class="nav-item nav-link" href="{% url "create_user" %}">Create Account</a>
                <a class="nav-item nav-link" href="{% url "login" %}">Log in</a>
                <a class="nav-item nav-link" href="{% url "contact" %}">Contact Us</a>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Nav -->