{% extends "base.html" %}
{% block title %}
    <title>My account | RentCar4U</title>
    {% endblock %}

{% block content %}
    <h3>My Account:</h3>
    <tr>
        <th>First name: </th><td>{{ user.first_name}}</td><br>
        <th>Last name: </th><td>{{ user.last_name }}</td><br>
        <th>Email: </th><td>{{ user.email}}</td><br>
        <th>Tel. number: </th><td>{{ user.profile.tel_num}}</td><br>
        <th>Address: </th><td>{{ user.profile.address }}</td><br>
        <th>City: </th><td>{{ user.profile.city }}</td><br>
        <th>Zip code: </th><td>{{ user.profile.zip_code}}</td><br>
    </tr>
    <br>
    <a href="{{user.profile.get_update_url}}">Edit Profile</a>
{% endblock %}
